<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="./public/bootstrap.min.css">
	<link rel="stylesheet" href="./public/main.css">
	<script src="./public/jquery.min.js"></script>
	<script src="./public/bootstrap.min.js"></script>
	<script src="./public/d3.min.js"></script>
	<script src="./public/main.js"></script>

</head>
<html>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Movie101</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="movie.html">Movie</a></li>
                        <li><a href="actor.html">Actor</a></li>
                    </ul>
                </li>
                
                <li><a href="login.html">Login or Register</a></li>
            </ul>
        </div>
        <!--/.nav-collapse test commit-->
    </div>
</nav>

<div class="container">
        <div class="jumbotron">
            
                <div class="jumbotron">
                  <h1 id='movie-title'></h1>
                  <p id='movie-releasedate'></p>
                  <p id='movie-director'></p>
                  <p id='movie-distributedcompany'></p>
                  <p id='movie-comments'>
                      <div class="container form-group" id="comments-Display"></div>
                  </p>
                  <p id='movie-reviews'>
                      <div class="container form-group" id="reviews-Display"></div>
                  </p>
                  <p><strong>Write your reviews below </strong>(800 character limit) :</p>

                  <div class="container form-group">
                        <p style="float: left;padding-right: 20px">Give your ratings between 1(lowest) to 5(highest):</p>
                    

                      <input type='text' name="rating" id="user-rating"></input>


                        
                      <p><textarea id="reviewBox" name="textarea" rows="10" cols="100" maxlength="300"></textarea></p>


                      <p><button class="btn btn-primary btn-lg" role="button" id="review-submission">Submit</button></p>
            
                 </div>
        </div>


    </div>

    <script>
        $(document).ready(function() {

            var movieinfo = parseMoiveTitle();
            getMoiveData(movieinfo);
            postReview(movieinfo);

        });

        function postReview(movieinfo){

            var tempArray = movieinfo.split('/');

            var movieTitle = tempArray[0];
            var movieDate = tempArray[1];


            $('#review-submission').click(function(){

                var userRating = $('#user-rating').val();
                console.log(typeof(userRating));

                var userText = $('#reviewBox').val();
                console.log(userText);

               if (userRating != ""){

                    if ($.isNumeric(userRating)){

                        console.log('is a number');

                        if (userText != ""){

                            console.log("testing inside postReview");

                           

                            var userReview = {};
                            userReview['text'] = userText;
                            userReview['rating'] = parseInt(userRating);
                            userReview['accountName'] = "foobar";
                            userReview['title'] = movieTitle;
                            userReview['releaseDate'] = movieDate;

                            console.log(userReview);
                            
                            $.ajax({
                                type:'POST',
                                dataType: 'json',
                                contentType: "application/json",
                                url:'http://localhost:8080/postreview',
                                data:JSON.stringify(userReview),
                                success: function(data) {
                                    console.log("postReview ajax");
                                    
                                }
                            }).fail(function(e){
                                alert("Bad Request");
                            })


                        }else {
                             
                             alert("Please enter your review.");
                            
                        }

                    }else{

                        alert("Please enter a valid rating.");
                    }


               }else {
                 alert("Please enter a valid rating.");
               }

            });

           


        }

        function parseMoiveTitle() {
            var query = window.location.search.substring(1);
            console.log(query); 

            var singlemovie = query.split('=')[1];
            
            var goodsinglemovie = singlemovie.replace(/%20/g,' ');//remove %20
            
            console.log(goodsinglemovie);
            
           
            return goodsinglemovie;
           
        }

        function getMoiveData(path) {
            
            console.log(path);


            $.ajax({
                dataType: 'json',
                contentType: "application/json",
                url:'http://localhost:8080/movie/' + path,
                success: function(data) {
                    console.log("testing inside getMoiveData");
                    console.log(data);
                    setDataFields(data);
                }
            })

        }

        function setDataFields(data) {
           

            var title = data['title'];
            var releasedate = data['released'];
            var director = data['director'];
            var distributedcompany = data['company'];
            var comments = data['comments']; //comments is a array
            var reviews = data['text'];


            var titleField = document.getElementById('movie-title');
            var releasedateField = document.getElementById('movie-releasedate');
            var directorField = document.getElementById('movie-director');
            var distributedcompanyField = document.getElementById('movie-distributedcompany');

            var commentsField = document.getElementById('movie-comments');
            var reviewsField = document.getElementById('movie-reviews');

            titleField.innerHTML = title;
            releasedateField.innerHTML = "<strong>Release Date : </strong>" + releasedate;
            directorField.innerHTML = "<strong>Director : </strong>" + director;
            distributedcompanyField.innerHTML = "<strong>Distributed Company : </strong>" + distributedcompany;
            commentsField.innerHTML = "<strong>Comments : </strong>";
            generateCommentsTable(comments);
            reviewsField.innerHTML =  "<strong>Reviews : </strong>";
            generateReviewTable(reviews);


         }

        function generateCommentsTable(data) {
        var columns = [];
        Object.keys(data[0]).forEach(function (title) {
            columns.push({
                head: title,
                cl: "title",
                html: function (d) {
                    return d[title]
                }
            });
        });
        var container = d3.select("#comments-Display");
        container.html("");
        container.selectAll("*").remove();
        var table = container.append("table").style("margin", "auto");

        table.append("thead").append("tr")
            .selectAll("th")
            .data(columns).enter()
            .append("th")
            .attr("class", function (d) {
                return d["cl"]
            })
            .text(function (d) {
                return d["head"]
            });

        table.append("tbody")
            .selectAll("tr")
            .data(data).enter()
            .append("tr")
            .selectAll("td")
            .data(function (row, i) {
                return columns.map(function (c) {
                    // compute cell values for this specific row
                    var cell = {};
                    d3.keys(c).forEach(function (k) {
                        cell[k] = typeof c[k] == "function" ? c[k](row, i) : c[k];
                    });
                    return cell;
                });
            }).enter()
            .append("td")
            .html(function (d) {
                return d["html"]
            })
            .attr("class", function (d) {
                return d["cl"]
            });
        }

        function generateReviewTable(data) {
        var columns = [];
        Object.keys(data[0]).forEach(function (title) {
            columns.push({
                head: title,
                cl: "title",
                html: function (d) {
                    return d[title]
                }
            });
        });
        var container = d3.select("#reviews-Display");
        container.html("");
        container.selectAll("*").remove();
        var table = container.append("table").style("margin", "auto");

        table.append("thead").append("tr")
            .selectAll("th")
            .data(columns).enter()
            .append("th")
            .attr("class", function (d) {
                return d["cl"]
            })
            .text(function (d) {
                return d["head"]
            });

        table.append("tbody")
            .selectAll("tr")
            .data(data).enter()
            .append("tr")
            .selectAll("td")
            .data(function (row, i) {
                return columns.map(function (c) {
                    // compute cell values for this specific row
                    var cell = {};
                    d3.keys(c).forEach(function (k) {
                        cell[k] = typeof c[k] == "function" ? c[k](row, i) : c[k];
                    });
                    return cell;
                });
            }).enter()
            .append("td")
            .html(function (d) {
                return d["html"]
            })
            .attr("class", function (d) {
                return d["cl"]
            });
        }

    </script>
</body>
</html>

<!-- <div class="btn-group" data-toggle="buttons" style="padding-bottom: 50px">
                          <label class="btn btn-primary btn-lg">
                            <input type="radio" name="options" id="rating1" autocomplete="off">1
                          </label>
                          <label class="btn btn-primary btn-lg">
                            <input type="radio" name="options" id="rating2" autocomplete="off">2
                          </label>
                          <label class="btn btn-primary btn-lg">
                            <input type="radio" name="options" id="rating3" autocomplete="off">3
                          </label>
                          <label class="btn btn-primary btn-lg">
                            <input type="radio" name="options" id="rating3" autocomplete="off">4
                          </label>
                          <label class="btn btn-primary btn-lg">
                            <input type="radio" name="options" id="rating3" autocomplete="off">5
                          </labe></div> -->