.myBox {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 1000px;
    height: 1000px;
    overflow: scroll;


}


.myBoxColor{
    background-color: white;
}


th {
    text-align: left;
}

tr:hover {
  /*background-color: #ffa;*/
  background-color: #a8e9ff;
}


td,th{
    padding: 0 1em 0.5ex 0;
    border-style:solid;
    padding:10px;
    /*background-color: #ffa;*/
}


th.center, td.center {
    text-align: center;
}

th.num, td.num {
    text-align: right;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
